# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# DeRenPy folders
01_Input_RPA/
02_Output_RPA/
03_Input_RPYC/
04_Output_RPYC/
