[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inquirerpy = "~=0.3.4"
tqdm = "~=4.68.4"
unrpa = "~=2.3.0"

[dev-packages]
pytest = "~=9.1.1"
pylint = "~=4.0.6"
build = "~=1.5.1"
babel = "~=2.18.0"
pyinstaller = "~=6.21.0"

[requires]
python_version = "3.14"

[scripts]
cli = "python ./deren.py"
build = "bash ./scripts/pipenv-runnable/build.sh"
translations = "bash ./scripts/pipenv-runnable/translations.sh"
